body {
    font-family: sans-serif;
}

#top_panel {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: #151515;
    width: 100%;
    height: 20px;
    padding: 10;
    z-index: 3;
    color: white;
}

#padding_top {
    display: block;
    width: 100%;
    height: 20px;
    padding: 10;
}

#side_panel {
    display: block;
    position: fixed;
    top: 48px;
    left: 8px;
    background: rgb(34 34 34);
    width: 19%;
    height: 91%;
    border-radius: 6px;
    border: 1px solid #dfdfdf;
    border-left: 32px solid #151515;
    overflow: hidden;
}

#side_panel_markup {
    display: block;
    position: fixed;
    top: 48px;
    left: 8px;
    background: #e3e3e3;
    height: 91%;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    overflow: hidden;
    width: 23%;
}

#side_panel_markup #title {
    background: #151515;
    color: white;
    padding: 10;
}

#side_panel #title {
    background: #151515;
    color: white;
    padding: 14px;
    font-weight: 800;
}

#side_panel #list {
    color: #d9d9d9;
    font-weight: bold;
    position: relative;
    padding: 16px;
    padding-right: 30px;
    height: 85%;
    overflow-y: scroll;
}
#side_panel details{
    padding-top: 12px;
    padding-bottom: 7px;
    border-top: 2px solid #375601;
    font-size: 13px;
}

#content {
    color: #424242;
    position: absolute;
    left: 26%;
    width: 50%;
    margin: 22px;
    line-height: 2;
}

#markup{
    height: 94%;
    resize: horizontal;
    width: 100%;
}
.note {
    background-color: #ede6a6;
    padding-left: 14px;
    padding-top: 7px;
    display: block;
    border-radius: 10px;
    border: 1px solid #d5cd89;
    border-top: 23px solid #edda2f;
}
#content img{
    width:100%;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track { 
  background-color:#131313;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #151515;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #151515; 
}

details p{
  padding-left: 24px;
}
