body {
    font-family: sans-serif;
}

#top_panel {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: #151515;
    width: 100%;
    height: 20px;
    padding: 10;
    z-index: 3;
    color: #43b0b5;
}
h1{
  color:#238e45;
  animation: h1anim 10s infinite;
  transition:0.5s;
}
h2{
  color:#43b0b5;
}
#padding_top {
    display: block;
    width: 100%;
    height: 20px;
    padding: 10;
}

#side_panel {
    display: block;
    position: fixed;
    top: 48px;
    left: 8px;
    background: rgb(34 34 34);
    width: 19%;
    height: 91%;
    border-radius: 6px;
    border: 1px solid #dfdfdf;
    border-left: 32px solid #151515;
    overflow: hidden;
}

#side_panel_markup {
    display: block;
    position: fixed;
    top: 48px;
    left: 8px;
    background: #090e0e;
    height: 85%;
    border-radius: 15px;
    width: 23%;
    border: 11px solid #375601;
    border-right: 16px solid #0a0a0a;
    border-bottom: 28px solid #0a0a0a;
    transition:1s;
    animation: myanimation 10s infinite;
    color: #4caf50;
}

@keyframes myanimation {
  0% {border-top: 11px solid #238e45;
    border-left: 11px solid #238e45;
     color:#4CAF50;
     }
  20%{border-top: 11px solid #2065b1;
    border-left: 11px solid #2065b1;
     color:#3a55ec;
     }
  40%{border-top: 11px solid #39b0b5;
    border-left: 11px solid #39b0b5;
     color:#03A9F4;
     }
  60%{border-top: 11px solid #9db81b;
    border-left: 11px solid #9db81b;
     color:#FFEB3B;
     }
  80%{border-top: 11px solid #ca1955;
    border-left: 11px solid #ca1955;
     color:#E91E63;
     }
  100%{border-top: 11px solid #238e45;
    border-left: 11px solid #238e45;
      color:#4CAF50;
     }
}

@keyframes h1anim {
  0% {
     color:#238e45;/*2bba3b*/
     }
  20%{
    color:#2b54ba;
     }
  40%{color:#1e676b;
     }
  60%{
     color:#c0b029;
     }
  80%{
     color:#b8154c;
     }
  90%{
      color:#238e45;
     }
}
#side_panel_markup #title {
    background: #0a0a0a;
    padding: 10;
    margin: -3px;
    border-radius: 10px 10px 0 10px;
}

#side_panel #title {
    background: #151515;
    color:white;
    padding: 14px;
    font-weight: 800;
}

#side_panel #list {
    color: #d9d9d9;
    font-weight: bold;
    position: relative;
    padding: 16px;
    padding-right: 30px;
    height: 85%;
    overflow-y: scroll;
}
#side_panel details{
    padding-top: 12px;
    padding-bottom: 7px;
    border-top: 2px solid #375601;
    font-size: 13px;
}

#content {
    color: #3a3737;
    position: absolute;
    left: 26%;
    width: 50%;
    margin: 22px;
    line-height: 2;
}

.editable {
  height: 94%;
  width: 100%;
  font-size: 13px;
  font-family: system-ui;
  position: absolute;
  overflow-y: scroll;
  margin: 25px;
  border-radius:18px;
  outline: none;
  transition: 0.5s;
  white-space: pre-wrap;
  word-break: break-all;
}
#markup{
    width: 100%;
    background:#ffffff00;
    color:transparent;
    caret-color: red;
    z-index:50;
    padding: 0;
    border:none;
}
#output{
  color: #c8d2ea;
  width: 100%;
  background: #090e0e;
}

.note {
    background-color: #e9e2a0;
    padding-left: 14px;
    padding-top: 7px;
    display: block;
    border-radius: 10px;
    border: 1px solid #d5cd89;
    border-top: 23px solid #d9c72a;
    color: #4e4e4e;
}
.gray {
    background-color: #c7c7c7;
    padding-left: 14px;
    padding-top: 7px;
    display: block;
    border-radius: 10px;
    color: #4a4a4a;
    border: 1px solid #afafaf;
    border-top: 23px solid #818181;
}

#content img{
    width:100%;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track { 
  background-color:#131313;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #151515;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #151515; 
}

details p{
  padding-left: 24px;
}

details p a{
    all:unset;
}


.exercice , .warning , .hint, .solution {
    background-color: #bed3df;
    display: block;
    border-radius: 10px;
    color: #4a4a4a;
    border: 1px solid #afafaf;
    overflow: hidden;
}
.exercice{
  background: #bed3df;
}
.warning{
  background: #f5d8d7;
}
.hint{
  background: #dfe0e1;
}
.solution{
  background-color: #cde9d0;
}

.exerciceSummary{
  background: #293b76;
}
.hintSummary{
      background-color: #2a2727;
}
.warningSummary{
  background-color: #b13e3b;
}
.solutionSummary{
  background-color: #528102;
}

details summary {
    user-select: none;
    color: #e0e0e0;
}
#side_panel_markup:hover #output,#side_panel_markup:hover{
  background-color: #0a0a0a;
  /*
    background:#0a0a0a;
    transition: 0.5s;*/
}
#side_panel_markup:hover{
  border-top-color:#238e45;
  border-left-color:#238e45;
}
#side_panel_markup:hover #title{
  background:#070707;
}
#side_panel_markup:hover .editable{
  margin: 15px;
  /*
    background:#0a0a0a;
    transition: 0.5s;*/
}

#output::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
#markup::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


